:root {
    --white: #ffffff;
    --black: #000000;
    --venetianred: #8e0404;
    --lightgray: #bbbbbb;
    --submarinegray: #4f4f4f;
    --gray2: #333333;
    --transparent: transparent;
}

.top_bar {
    background: rgba(0, 0, 0, 0) linear-gradient(120deg, #4f4f4f 65%, #ed0009 35%) repeat scroll 0 0;
    width: 100%;
    float: left;
    padding: 10px 0;
}

.contact_details ul {
    margin: 0;
}

.contact_details ul li {
    list-style: none;
    display: inline;
    color: var(--white);
    margin-right: 20px;
    font-size: 13px;
}

.contact_details {
    padding: 5px 0;
    height: 32px;
    margin-left: 10px;
}

.contact_details ul li.search-box span {
    border: none;
    padding: 15px 18px;
    margin-right: 0;
}

.contact_details ul li span {
    padding-right: 20px;
    color: var(--white);
}

.contact_details i {
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
}

.serach_outer i {
    font-size: 24px;
    padding: 4px 0 0 0;
    color: var(--lightgray);
}

.contact_details p {
    color: #033333;
    font-size: 15px;
    margin: 0 0 0 !important;
}

p.hi_bold {
    color: #1e1d1c;
}

p.hi_normal {
    color: #757575;
}

.contact_details ul li a,
.top_bar .socialbox a {
    color: var(--white);
}

.top_bar .socialbox {
    text-align: right;
    padding-top: 5px;
}

.top_bar .socialbox a {
    margin: 0 8px;
}

.top_bar .socialbox a:hover {
    color: var(--submarinegray);
}

.contact_details i {
    color: var(--venetianred);
}

.top_bar .vwsmp_front a {
    font-size: 15px;
    color: var(--white);
    width: auto;
    height: auto;
    background: var(--transparent);
    margin-bottom: 0px;
    padding: 0px;
}

/* --------------------------sticky---------------------------- */
.sticky {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#sticky-onoff {
    display: none;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: 99999;
}

#sticky-menu-box.sticky {
    margin-top: 0;
}

#sticky-menu-box .side-navigation ul {
    text-align: center;
}

/* --------------------------Header---------------------------- */
#masthead {
    width: 100%;
}

#header .logo img {
    max-height: 123px;
    width: auto;
}

#header {
    width: 100%;
    float: left;
}

#topbar {
    border-top: 10px solid #435061;
}

.menubar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

.neseted-inner {
    top: 0;
    position: absolute;
}

.continnerbox {
    background-size: 100% 100%;
    color: var(--white);
    border-top: 40px solid #435061;
    border-left: 60px solid var(--transparent);
}

#header .logo:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 80px solid var(--transparent);
    border-right: 80px solid var(--transparent);
    border-top: 35px solid var(--venetianred);
    overflow: visible;
    z-index: 9999;
}

#header .logo {
    background-color: var(--venetianred);
    text-align: center;
    position: relative;
    margin-top: -52px;
    z-index: 999;
    height: 150px;
    padding: 10px;
}

.home.page-template #header .logo {
    background-color: var(--venetianred);
    text-align: center;
    position: absolute;
    top: -52px;
    z-index: 999;
    height: 150px;
    padding: 10px;
    margin-top: 0;
}

#header .logo h1 {
    font-weight: 700;
    padding: 0;
    margin-bottom: 8px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
}

.home.page-template #header .logo:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 88px solid var(--transparent);
    border-right: 88px solid var(--transparent);
    border-top: 35px solid var(--venetianred);
    overflow: visible;
    z-index: 9999;
}

​ .logo a.custom-logo-link,
.logo h1 a,
.logo p {
    color: var(--white);
}

.logo h1 a {
    text-transform: uppercase;
    letter-spacing: 0;
}

.logo p {
    margin-bottom: 0;
    font-size: 14px;
}

#header .top-contact {
    padding: 12px 0;
    font-size: 15px;
}

.menubar .social-media {
    padding: 12px 0;
    text-align: center;
}

.scrolled {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999999;
    background: var(--white);
}

.home.page-template #masthead.scrolled {
    z-index: 999999;
    border-bottom: solid 1px;
    border-color: var(--venetianred);
}

#site-navigation {
    width: 97%;
}

/*----------------Menu bar-----------*/
.hamburger {
    padding-left: 10px
}

.side-navigation {
    padding: 0;
    margin: 0;
    text-align: left;
    margin: 10px 0;
}

.side-navigation>li {
    list-style: none;
    margin-bottom: 10px
}

.close-sidebar {
    font-size: 35px;
    padding-right: 5px;
    color: var(--white);
    text-align: right
}

.headerbar {
    display: none;
    font-size: 30px;
    text-align: right;
    font-weight: 900;
    color: var(--black);
}

amp-sidebar#sidebar1 {
    display: none
}

.i-amphtml-sidebar-mask {
    position: static !important
}

.side-navigation ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

.side-navigation li {
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 15px;
}

.side-navigation a {
    text-decoration: none;
    outline-offset: -8px;
    white-space: nowrap;
    font-size: 15px;
    color: var(--submarinegray);
    display: block;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
}

.side-navigation ul li a:active {
    color: var(--venetianred);
}

.side-navigation ul ul {
    display: none;
    position: absolute;
    left: 15px;
    top: 80%;
    background: var(--transparent);
    /* min-width: 215px; */
    z-index: 9999;
    padding: 0;
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.11);
}

.side-navigation ul ul ul {
    left: 31%;
    top: 41px;
}

.side-navigation ul ul a {
    color: #2e3c4b;
    transition: all .5s ease 0s
}

/* .side-navigation ul ul a:hover {
    scale: 1.1;
} */



.side-navigation ul ul li {
    float: none;
    display: block;
    text-align: left;
    border-left: none;
    border-right: none !important;
    padding: 0
}

.side-navigation ul li a:hover {
    color: var(--venetianred);
}

.side-navigation ul ul a {
    font-size: 15px;
    line-height: 1.5;
}

.side-navigation ul ul li {
    /* padding: 10px; */
    border-bottom: 1px solid #cccccc;
}

.side-navigation ul ul li a:hover {
    color: var(--venetianred);
}

.side-navigation ul ul li:last-child {
    border-bottom: 0
}

.side-navigation ul li:hover>ul {
    display: block
}

.side-navigation ul .current_page_item a {
    color: var(--venetianred);
}

.main-menu-navigation {
    margin: 30px 0 0;
}

.nav-next .post-title,
.nav-previous .post-title {
    display: block !important;
}

.toggle-menu,
a.closebtn {
    display: none;
}

.menu>ul>li.exoplanet-search:after {
    background: var(--transparent) !important;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 15px;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: auto;
}

.top_bar_btn a.theme_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-contactmap {
    background-color: var(--gray2);
}

.footer_form {
    padding: 40px 0;
}

.footer_form .section-heading p {
    color: var(--white);
}

.footer_form .wpcf7-form-control-wrap input[type="text"],
.footer_form .wpcf7-form-control-wrap input[type="email"] {
    border: 1px solid #dcdcda;
    font-size: 16px;
    padding: 10px 10px;
    margin-bottom: 20px;
    height: auto;
    /* max-width: 46%; */
    background: #fff;
    color: var(--black);
    margin-right: 20px;
    float: left;
    font-style: italic;
    
    width: calc(92% + 20px);
    margin-bottom: 20px;

}

.footer_form textarea {
    height: 100px;
}

.footer_form .wpcf7-form-control-wrap textarea {
    width: 96%;
    float: unset;
    color: var(--black);
    font-style: italic;
    background: #fff;
    border: 1px solid #dcdcda;
}

.footer_form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #757575;
}

.footer_form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #757575;
}

.footer_form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #757575;
}

.footer_form input:-moz-placeholder {
    /* Firefox 18- */
    color: #757575;
}

/*---------------- Footer Contact Details ----------------------*/
.footer_details {
    color: var(--white);
}

.footer_details p {
    font-size: 12px;
    color: #909090;
}

.footer_details i {
    font-size: 28px;
    padding: 4px 12px;
    color: var(--venetianred);
}

.footer_details .socialbox i {
    font-size: 16px;
    color: var(--white);
}

.footer_details .socialbox a {
    padding: 8px 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.footer_details .socialbox a:hover {
    background: var(--venetianred);
}

.footer_details .socialbox a:hover i {
    color: var(--black);
}

#newsletter {
    background-color: #1a1a1a;
}

#newsletter .section-heading h3 {
    font-size: 25px;
    color: var(--venetianred);
    padding: 0;
    margin-bottom: 5px;
}

#newsletter input.wpcf7-form-control.wpcf7-submit {
    position: absolute;
    right: 16px;
    top: 1px;
}

.logo_footer {
    background-color: var(--venetianred);
    text-align: center;
    position: relative;
    top: -40px;
    z-index: 999;
    height: 150px;
    padding: 10px;
    margin-top: 0;
}

.logo_footer:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 94px solid transparent;
    border-right: 94px solid transparent;
    border-top: 35px solid var(--venetianred);
    overflow: visible;
    z-index: 9999;
}

​

/*---------------- Footer Section ----------------------*/
.footer-top {
    padding-bottom: 50px;
}

.footer-top-col h3 {
    font-size: 20px;
    font-weight: bold;
}

.outer-footer {
    background-size: 100% 100%;
}

#footer form.search-form {
    border: none;
    background: transparent;
    padding: 0;
}

#footer form.search-form input {
    float: none;
    border: 1px solid;
    margin: 10px 2px;
}

#footer input,
#footer textarea {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

#footer textarea {
    height: 100px;
}

#footer p.post-date {
    color: var(--white);
    font-size: 11px !important;
}

.copyright {
    background-color: #1a1a1a;
    border-top: 1px solid #292b2c;
    background-size: cover;
}

.copyright p {
    font-size: 12px;
    color: #909090;
    margin-bottom: 0;
    padding-top: 10px;
}

.copyright .socialbox a {
    color: var(--submarinegray);
    margin-left: 20px;
}

.main_sociobox {
    padding: 20px 0;
}

#footer {
    text-align: center;
    color: var(--white);
    padding: 3em 0 0 0px;
    text-align: left;
    background-color: #1a1a1a;
}


@media screen and (max-width: 768px) {
#footer {
    text-align: center;    
}

.footer_box-none {
    display: none;
}
}

.footer_hide {
    display: none;
}

.footer-top-col {
    border-left: solid 5px;
    border-color: var(--venetianred);
    padding-left: 15px;
}

#footer h3 {
    color: var(--venetianred);
    text-align: left;
    font-size: 24px;
    padding: 0 0 17px 0;
}

#footer .copyright p {
    font-size: 14px;
    text-align: center;
    color: var(--white);
}

#footer .copyright a {
    color: var(--white);
    cursor: pointer;
}

#footer input {
    padding: 8px 8px;
    float: left;
    margin: 5px 0;
    border-radius: 0px;
}

#footer input[type="submit"] {
    padding: 8px 10px;
    background-color: var(--venetianred);
    color: var(--white);
    text-transform: uppercase;
}

#footer .copyright {
    text-align: center;
    border-top: 1px solid #337ab7;
    margin: 30px 0 0 0;
    padding-top: 40px;
}

#footer ul {
    margin: 0;
}

#footer ul li {
    list-style: none;
    margin: 0 0 5px 0;
    text-align: left;
    padding: 5px;
}

#footer ul li a {
    color: var(--white);
}

#footer p {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
}

.widget_recent_entries img {
    width: 100px;
}

#footer h3 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {    

#footer h3 {
    margin-bottom: 0;
    padding: 0;
}

.widget-title {
    margin-bottom: 0;
    padding: 0;
    margin-top: 20px;
}

}


#footer h3:after {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: var(--venetianred);
    bottom: 0px;
    content: "";
    right: 0;
    left: 0;
}

.footer-cols {
    padding-bottom: 40px;
}

.about_me table,
.about_me td,
.about_me th {
    border: none;
}

.about_me p.message {
    margin-bottom: 20px !important;
}


@media screen and (max-width: 768px) {
.about_me {
    margin-top: 20px;
}
.footer_table-contact {
    margin: 0;
    text-align: left;
}

}
.vw-credit,
.vw-credit a {
    color: var(--white);
}

/* ---------- Return to Top ------------ */
#return-to-top {
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9;
    position: fixed;
    right: 20px;
    bottom: 10px;
    padding: 5px 18px;
    background-color: var(--venetianred);
}

#return-to-top i {
    color: var(--white);
    position: relative;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #111;
}

#return-to-top:hover i {
    color: var(--white);
    top: 5px;
}

#footer .widget.widget_calendar td,
#footer .widget.widget_calendar tr,
#footer .widget.widget_calendar th {
    color: var(--white);
}

.copyright p.right {
    text-align: right;
}

.copyright p.left {
    text-align: left;
}

.copyright p.center {
    text-align: center;
}

.copyright .vwsmp_front a {
    font-size: 15px;
    color: #909090;
    background: transparent;
    width: auto;
    height: auto;
}

.copyright .vwsmp_front a:hover {
    color: var(--venetianred);
}

.tc1 .fas.fa-envelope:before {
    content: '/f0e0';
    font-family: "Font Awesome 5 Free" !important;
}

.tc1 {
    font-family: "Font Awesome 5 Free" !important;
}

#newsletter .section-heading h3:after {
    content: none;
}

.contactfeild input[type="email"] {
    background: #fff;
}

#newsletter input[type="submit"] {
    padding: 14px 20px;
}


